/* CSS declarations go here */

header {
  width: 100%;
  border: 0%;
  padding: 0%;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
}

body h1 {
  font-size: 2em;
  font-style: normal;
  color: deep-purple;
  display: inline-block;
}

#site-logo {
  font-size: 4em;
  font-style: normal;
  color: white;
  border: 0%;
  padding: 0%;
  height: 1%;
  margin-right: 0%;
  margin-left: 1%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: block;
}

header navbar {
  width: 100%;
  border: 1%;
  padding: 0.5%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

/* main part of the webpage, the part that changes */
#__blaze-root {
  border: 0%;s
  padding: 2%;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: block;
}
