/* CSS declarations go here */

header {
  width: 100%;
  border: 0%;
  padding: 0%;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
}

body {
  background-color: #1E180B;
  color: #f1f1db;
}
body h1 {
  font-size: 2em;
  font-style: normal;
  color: white;
  display: inline-block;
}

.custom-gold {
  background-color: #a98842 !important;
}

.custom-dark-purple {
  background-color: #1E180B !important;
}

.custom-dark-purple-l1 {
  background-color: #1E180B !important;
}

.custom-slight-yellow {
  color: #f1f1db !important;
}

body h2 {
  font-size: 1.5em;
  font-style: normal;
  color: white;
  display: inline-block;
}

#site-logo {
  font-size: 4em;
  font-style: normal;
  color: white;
  border: 0%;
  padding: 0%;
  height: 1%;
  margin-right: 0%;
  margin-left: 1%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: block;
}

header navbar {
  width: 100%;
  border: 1%;
  padding: 0.5%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  background-color: #a98842;

}

.input-field {
  color: white !important;
}  

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #ffffff;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #ffffff;
 box-shadow: 0 1px 0 0 #000;
}
/* main part of the webpage, the part that changes */
#__blaze-root {
  border: 0%;s
  padding: 2%;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: block;
}

.modal {
  color: #1E180B;
  background-color: #f1f1db;
}

.modal .modal-footer {
  color: #1E180B !important;
  background-color: #f1f1db;
}

/* Slider */

output {
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: deep-purple;
  border-radius: 10px;
  display: block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.material-icons.md-48 { font-size: 48px; }
