<template name="adminForm">
	<div>
	  <form class = "listingForm col s12 container">
	   		<div class="row">
		  	Listing/Event Image:

				{{#with UserImages}}
				<img src="{{image}}" class="event-img">
				{{else}}
				<label for="eventImage">Choose Event Image</label>
				<span id="filename"></span>
				<input type="file" name="eventImage" id="eventImage" class="black eventImage">
				<br>

				<button type="button" value="Upload Photo" id="event-img-upload-btn" class="btn waves-effect waves-light">Upload Photo</button>
				{{/with}}

	      <div class="input-field col s6">
				<input type="text" name="imagePath" id="imagePath" value="">
				<!--<label class="{{#if imagePath}}active{{/if}}" for="imagePath"></label>
				-->
				</div>
			</div>

	    <div class="row">
	      <div class="input-field col s6">
	    	 <input type="text" name="name" value="{{name}}">
	       <label class="{{#if name}}active{{/if}}" for="name">Listing Name (blank for default)</label>
	      </div>

	      <div class="input-field col s3">
	       <input type="number" name="price" min="1" value="{{price}}"/>
	       <label class="{{#if price}}active{{/if}}" for="price">Listing Price (blank for default)</label>
	      </div>
	    </div>

	    <div class="row">
	  	 <div class="input-field col s12">
	      <textarea id="description" class="materialize-textarea" value="{{description}}"></textarea>
	      <label class="{{#if description}}active{{/if}}" for="description">Listing Description (blank for default)</label>
	    </div>
	    </div>

		<div class="row">
			<div class="input-field col s12">
				<textarea id="tableID" class="materialize-textarea" value="{{tableID}}"></textarea>
				<label class="{{#if tableID}}active{{/if}}" for="tableID"> Table ID</label>
			</div>
		</div>

	    <div class = "row">
	      <div class="col s3">
	        <input type="text" class="datepicker" id="listingDate">
	        <label for="listingDate">Date</label>
	      </div>
	      <div class="col s3">
	        <input type="text" class="timepicker" id="startTime">
	        <label for="startTime">Start Time</label>
	      </div>
	      <div class="col s3">
	        <input type="text" class="timepicker" id="endTime">
	        <label for="endTime">End Time</label>
	      </div>
	    </div>

		<div class = "row">
			<div class="col s6">
				<input type="number" name="discount" value="{{discount}}"/>
 	      		<label class="{{#if discount}}active{{/if}}" for="discount">Discount </label>
 	     	</div>

	     	<div class="col s6">
	        	<input type="text" class="datepicker" id="dealExpiryDate">
	        	<label for="dealExpiryDate">Deal Expiry Date</label>
	      	</div>
		</div>

	    {{#if name}}
	    	<button class="btn waves-effect waves-light modal-close" type="submit" name="submit" id="submitEdit">Submit <i class="material-icons right">send</i> </button>
  	  		<button class="btn waves-effect waves-light modal-close" style="color:gray">Cancel</button>
  	  	{{else}}
  	  		<button class="btn waves-effect waves-light" type="submit" name="submit">Submit <i class="material-icons right">send</i> </button><br>
	  	{{/if}}
	  </form>
	</div>
<script>
	// $(function() {
	// 	var temp="a";
	// 	$("#paxabc").val(temp);
	// });
</script>

<!-- Js for switching file picker span -->
<script>
	$(function() {
		var fileName
		$("#eventImage:file").change(function () {
			fileName = $(this).val();
			$("span").text(fileName);
			$("label").hide();
		});

		$("#imagePath").val(fileName);
	});
</script>

</template>
