<template name="adminTemplate">
    {{#if currentUser}}
    <h1> Admin Dashboard </h1>

    {{>adminForm}}

    <br><br>
    <h5 class="container"> Displaying your created listings </h5>
    <br>
    {{ > listingsDisplay adminView=true}}

    {{else}}
    <h1> You are not authorised to view this page.</h1>
    {{/if}}


  <script>
   $(document).ready(function(){
      $('select').formSelect();
      $('.datepicker').datepicker({format: 'yyyy-mm/dd'});
      $('.timepicker').timepicker();

    });
  </script>

</template>
