<template name="adminForm">
	<div>
	  <form class = "listingForm">
	   		<!--<div class="row">

		  	Listing/Event Image:

				{{#with UserImages}}
				<img src="{{image}}" class="event-img">
				{{else}}
				<label for="eventImage">Choose Event Image</label>
				<span id="filename"></span>
				<input type="file" name="eventImage" id="eventImage" class="black eventImage">
				<br>

				<button type="button" value="Upload Photo" id="event-img-upload-btn" class="btn waves-effect waves-light">Upload Photo</button>
				{{/with}}

	      <div class="input-field col s6 white-text" style = "color: white;">
				<input class="white-text" type="text" name="imagePath" id="imagePath" value="">
				<label class="{{#if imagePath}}active{{/if}}" for="imagePath"></label>

				</div>
			</div>
			-->

	    <div class="row">
	      <div class="input-field col s6 white-text" style = "color: white;">
	    	 <input class="white-text" type="text" name="name" value="{{name}}">
	       <label class="white-text {{#if name}}active{{/if}} white-text" for="name">Listing Name (blank for default)</label>
	      </div>

	      <div class="input-field col s3 white-text" style = "color: white;">
	       <input class="white-text" type="number" name="price" min="1" value="{{price}}"/>
	       <label class="white-text {{#if price}}active{{/if}}" for="price">Listing Price (blank for default)</label>
	      </div>
	    </div>

	    <div class="row">
	  	 <div class="input-field col s12">
	      <textarea id="description" class="white-text materialize-textarea" value="{{description}}"></textarea>
	      <label class="white-text {{#if description}}active{{/if}}" for="description">Listing Description (blank for default)</label>
	    </div>
	    </div>

		<div class="row">
	      <div class ="input-field col s3">
	        <select name="tableID" id="tableID" class="white-text">
	        	<option value="" disabled selected>Select an option</option>
	          {{#each tableIDs}}
	          	<option value="{{ID}}">{{name}} ({{ID}})</option>
	          {{/each}}
	        </select>
	       <label class="white-text" for="pax">Table</label>
	      </div>
	  	</div>

	    <div class = "row">
	      <div class="col s3">
	        <input type="text" class="white-text datepicker" id="listingDate">
	        <label class="white-text" for="listingDate">Date</label>
	      </div>
	      <div class="col s3">
	        <input type="text" class="white-text timepicker" id="startTime">
	        <label class="white-text" for="startTime">Start Time</label>
	      </div>
	      <div class="col s3">
	        <input type="text" class="white-text timepicker" id="endTime">
	        <label class="white-text" for="endTime">End Time</label>
	      </div>
	    </div>

		<div class = "row">
			<div class="col s6">
				<input class="white-text" type="number" name="discount" value="{{discount}}"/>
 	      		<label class="white-text {{#if discount}}active{{/if}}" for="discount">Discount </label>
 	     	</div>

	     	<div class="col s6">
	        	<input type="text" class="white-text datepicker" id="dealExpiryDate">
	        	<label class="white-text" for="dealExpiryDate">Deal Expiry Date</label>
	      	</div>
		</div>

	    {{#if name}}
	    	<button class="btn waves-effect waves-light modal-close" type="submit" name="submit" id="edit_listing_form">Submit <i class="material-icons right">send</i> </button>
  	  		<button class="btn waves-effect waves-light modal-close" style="color:gray">Cancel</button>
  	  	{{else}}
  	  		<button class="btn waves-effect waves-light" type="submit" name="submit" id="create_listing_form">Submit <i class="material-icons right">send</i> </button><br>
	  	{{/if}}
	  </form>
	</div>

<!-- Js for switching file picker span -->
<script>
	$(function() {
		var fileName
		$("#eventImage:file").change(function () {
			fileName = $(this).val();
			$("span").text(fileName);
			$("label").hide();
		});

		$("#imagePath").val(fileName);
	});
</script>

<style>
  .input-field {
    color: white;
  }
</style>
</template>
