<template name="checkBookingTemplate">

  <h2 class="deep-purple-text container"> Check your Booking Details here</h2>
  <div class="divider"></div> <br>

  <div class="row">
    <form class="checkBookingForm container">
      <div class="input-field col">
        <input type="text" name="confirmationCode" required>
        <label class="active" for="confirmationCode">Booking Confirmation Code</label>
      </div>

      <div class="divider"></div> <br>
      <div class="row">
        <div class="col s2 valign-wrapper">
          <a href="#"><button type="submit" class="white black-text btn waves-effect">
            Check Booking
          </button> </a>
        </div>
      </div>
    </form>
  </div>

  <div class="divider"></div> <br>
  <div class="row">

  </div>

  <script>
    $(document).ready(function() {
      M.AutoInit();
    });
  </script>

</template>
