<template name="confirmationTemplate">

  <div class="row teal white-text">
    <div class="col s1">
    </div>

    <div class="col s11">
      <h1> <strong> Your reservation has been confirmed!</strong> </h1>
      <p>
        At the door, please produce your ID card.
        Enjoy your evening!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s10">
      <h1> Confirmation Code: </h1> <br>

    </div>
  </div>

  <div class="row">
    <div class="col s6">
      Date:
    </div>

    <div class="col s6">
      Doors Open:
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      Name:
    </div>

    <div class="col s4">
      Number of Guests:
    </div>

    <div class="col s4">
    </div>
  </div>

</template>
