<template name="faqTemplate">

  <h2> Frequently Asked Questions </h2>

  <ul>
    <li>
      <p>
        <strong> What is NightlifeChope? </strong> <br>
        NightlifeChope is the place to reserve your next affordable
        VIP nightlife experience. Browse through our selection of
        last-minute table and bottle service deals offered by the
        most exclusive clubs and bars around Singapore.
      </p>
    </li>
    <li>
      <p>
        <strong> What is bottle service? </strong> <br>
        Not only do you get to party in an exclusive, VIP location - you'll also get an
        abundant selection of spirits, mixers, and a dedicated service
        staff to engage with your friends as they help pour drinks,
        make shots, and maintain the table’s drink inventory.
      </p>
    </li>
    <li>
      <p>
        <strong> What if I need help with my reservation urgently? </strong> <br>
        You may reach our concierge service
        <a title="Contact" href="contact.html"> here </a>
      </p>
    </li>
  </ul>

</template>
