<template name="homeTemplate">

  <h1> Welcome to NightlifeChope </h1>
  <div class="deep-purple teal-text">

    <div class="row">
      <form class="queryForm">
      <div class = "input-field col s2">
        <input type="text" name="date" class="white-text datepicker">
        <label for="date"> Date </label>
      </div>

      <div class="input-field col s2 valign-wrapper ">
        <select name="pax">
          <option white-text value=2>2 Guest</option>
          <option value=3>3 Guests</option>
          <option value=4>4 Guests</option>
          <option value=5>5 Guests</option>
          <option value=6>6 Guests</option>
          <option value=7>7 Guests</option>
          <option value=8>8 Guests</option>
        </select>
        <label> Number of Guests </label>
      </div>

      <div class="col s3 valign-wrapper">
        <p> Search For&nbsp;&nbsp;&nbsp;</p>
        <p>
          <label>
            <input type="checkbox" name="clubsBool" class="filled-in" checked="checked" />
            <span> Clubs</span>
          </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>
          <label>
            <input type="checkbox" name="barsBool" class="filled-in" checked="checked" />
            <span> Bars </span>
          </label>
        </p>
    </div>

    

    <div class="col s2 valign-wrapper">
      <input class="white black-text btn waves-effect" type="submit" value="Search">
    </div>
    </form>
    </div>
  </div>

<div id="priceSlider"></div>

  {{#if searched}}
  {{ > listingsDisplay adminView=false}}
  {{/if}}


  <script>
    $(document).ready(function() {
      M.AutoInit();

    //   var slider = document.getElementById('  ');

    //   noUiSlider.create(slider, {
    //     start: [20, 80],
    //     connect: true,
    //     range: {
    //       'min': 0,
    //       'max': 100
    //     }
    //   });
    //   console.log("slider done");
    });     
  </script>

</template>
