<template name="homeTemplate">
  <div class="slider">
   <ul class="slides">
     <li>
       <img src="https://drive.google.com/uc?id=1mDLSkhLGniB3FasvyInWYApgXs0OSwl1">
       <div class="caption left-align">
         <h3 class="light grey-text text-lighten-3">Zouk</h3>
       </div>
     </li>
     <li>
       <img src="https://drive.google.com/uc?id=1rK231q9cgut7_PCUnsCDKWmYH58DyjeF">
       <div class="caption left-align">
         <h3 class="light grey-text text-lighten-3">Attica</h3>
       </div>
     </li>
     <li>
       <img src="https://drive.google.com/uc?id=13Ansc3dtqslhDVfaTYipiJxhK5EX2miR">
       <div class="caption left-align">
         <h3 class="light grey-text text-lighten-3">1-Altitude</h3>
       </div>
     </li>
     <li>
       <img src="https://drive.google.com/uc?id=1mwcWuwNsApCqfJwZ2XDQ7D1LNra4jClY">
       <div class="caption left-align">
         <h3 class="light grey-text text-lighten-3">Canvas</h3>
       </div>
      </li>
    </ul>
   </div>

  <div class="custom-gold black-text">

    <div class="row">
      <form class="queryForm">
      <div class = "input-field col s2">
        <input type="text" name="date" class="white-text datepicker" required>
        <label class="white-text" for="date"> Date </label>
      </div>

      <div class="input-field col s2">
        <select name="pax">
          <option class="white-text" value=2>2 Guests</option>
          <option value=3>3 Guests</option>
          <option value=4>4 Guests</option>
          <option value=5>5 Guests</option>
          <option value=6>6 Guests</option>
          <option value=7>7 Guests</option>
          <option value=8>8 Guests</option>
        </select>
      </div>

      <div class="col s3">

        <p class="white-text"> &nbsp; Search For: &nbsp; &nbsp; &nbsp;
          <label class="white-text">
            <input type="checkbox" name="clubsBool" class="filled-in" checked="checked" />
            <span> Clubs</span>
          </label>

          &nbsp; &nbsp; &nbsp;
          <label class="white-text">
            <input type="checkbox" name="barsBool" class="filled-in" checked="checked" />
            <span> Bars </span>
          </label>
        </p>
      </div>

      <div class="col s1">
        <p class="white-text range-field">
          <input type="range" name="price" min="200" max="2000">
        </p>
      </div>

      <div class="col s1">
        <p class="white-text">
          Maximum Price
        </p>
      </div>

      <br>
      <div class="col s1">
        <input class="white black-text btn waves-effect" type="submit" value="Search">
      </div>

      </form>
    </div>
  </div>


  {{#if searched}}
    {{>resultsDisplay}}
  {{/if}}

  <script>
    $(document).ready(function() {
      M.AutoInit();
      $('.slider').slider({height:580, interval:8000});
    });
  </script>

</template>
