<template name="listingsDisplay">
  <!-- CRUD interface for admin page -->

  <ul class="collection container">
    {{#each tables}}
      {{ > singleTable}}
    {{/each}}
  </ul>

  <div id="table_edit_modal" class="modal">
    <div class="modal-content">
      <h5>Editing Table</h5>
      {{ > edit_table_template currentTable}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
    </div>
  </div>

  <div id="listing_edit_modal" class="modal">
    <div class="modal-content">
      <h5>Editing Listing</h5>
      {{ > edit_listing_template currentListing}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
    </div>
  </div>

  <script>
    $(document).ready(function(){
        $('.modal').modal();
        $('select').formSelect();
          $('.datepicker').datepicker();
          $('.timepicker').timepicker();
      });
  </script>
</template>

<template name="singleListing">
  <li class="collection-item custom-dark-purple-l1" style="padding: 5px 0px;">
    &nbsp;&nbsp;{{#if checkEq name ../name}}{{else}}<strong class="custom-emphasis">{{name}}</strong> - {{/if}} <!-- if listing name !equals table name, display -->
    <em>${{price}}</em> - {{formatDate date}}
    {{#if checkEq booking null}}{{else}}&nbsp;&nbsp;&nbsp;<span style="background-color: #3f3c6b">&nbsp;Booked by {{booking.bookingName}} ({{booking.confirmationCode}})&nbsp;</span>{{/if}}
    <a href="#!" class="delete_listing material-icons secondary-content">delete</a>
    <a href="#listing_edit_modal" class="edit_listing material-icons secondary-content modal-trigger">edit</a>
    <br>
    {{#if checkEq description ../description}}{{else}}<span style="white-space: pre-line">&nbsp;&nbsp;{{description}}</span>{{/if}}
  </li>
</template>

<template name="singleTable">
  <li class="collection-item custom-dark-purple-l1"> <strong class="custom-emphasis">&nbsp;{{name}}&nbsp;</strong>
    {{#if checkEq type "bar"}}
    <i class="tiny material-icons">local_bar</i>
    {{else if checkEq type "club"}}
    <i class="tiny material-icons">stars</i>
    {{/if}}
    for {{pax}} - <em>${{price}}</em> - ({{tableID}})

    <a href="#!" class="delete_table material-icons secondary-content">delete</a>
    <a href="#table_edit_modal" class="edit_table material-icons secondary-content modal-trigger">edit</a>

    <br><span style="white-space: pre-line">{{description}}</span>

    <ul>
      {{#each listingsByTable tableID}}
        {{> singleListing}}
      {{/each}}
    </ul>
    </li>
</template>

<template name="modifyListing">
  {{#if currentListing}}
    it's true
    {{name}}
    {{else}}
    nope
    {{/if}}
  <form class = "editform col s12 container">
    <div class="row">
      <div class="input-field col s6">
       <input type="text" name="name" value={{name}} />
       <label for="name" class="active">Listing Name</label>
      </div>
    </div>

    <div class="row">
      <div class ="input-field col s6">
        <select name="pax">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
       <label for="pax">Number of People</label>

      </div>
      <br>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" value={{description}}></textarea>
        <label for="description" class="active">Description</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light modal-close" type="submit" name="submit" id="submitEdit">Submit <i class="material-icons right">send</i> </button>
    <button class="btn waves-effect waves-light modal-close" style="color:gray">Cancel</button>
  </form>
</template>
