<template name="listingsDisplay">

	<ul class="collection container">
    
    {{#if adminView}} 
      {{#each listings}}
	      {{ > singleListing}}
      {{/each}}

    {{else}}
      {{#each listingsFiltered}}
        {{ > singleListing}}
      {{/each}}

    {{/if}}

	</ul>

	<div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Editing Listing</h5>
      {{ > adminForm currentListing}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
    </div>
  </div>

  <div id="bookingModal" class="modal">
    <div class="modal-content">
      <h5>Viewing Listing</h5>
      {{ > bookListing currentListing}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
    </div>
  </div>  
</template>


<template name="singleListing">
	<li class="collection-item"> <strong>{{name}}</strong>
    {{#if checkEq type "bar"}}
    <i class="tiny material-icons">local_bar</i>
    {{else if checkEq type "club"}}
    <i class="tiny material-icons">stars</i>
    {{/if}}
    for {{pax}} - <em>${{price}}</em> - {{date}}
    {{#if ../adminView}}
		  <a href="#!" class="delete material-icons secondary-content">delete</a>
		  <a href="#modal1" class="edit material-icons secondary-content modal-trigger">edit</a> 
    {{else}}
      <a href="#bookingModal" class="expand material-icons secondary-content modal-trigger">zoom_in</a>
    {{/if}}
		<br><span style="white-space: pre-line">{{description}}</span></li>

	<script>
		$(document).ready(function(){
    		$('.modal').modal();
    		$('select').formSelect();
      		$('.datepicker').datepicker();
      		$('.timepicker').timepicker();
  		});
	</script>

</template>

<template name="modifyListing">
  {{#if currentListing}}
    it's true
    {{name}}
    {{else}}
    nope
    {{/if}}
	<form class = "editform col s12 container">
        <div class="row">
          <div class="input-field col s6">
        	 <input type="text" name="name" value={{name}} />
           <label for="name" class="active">Listing Name</label>
          </div>
        </div>
        
        <div class="row">
          <div class ="input-field col s6">
            <select name="pax">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
           <label for="pax">Number of People</label>
            
          </div>
          <br>
        </div>

        <div class="row">
      	 <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea" value={{description}}></textarea>
          <label for="description" class="active">Description</label>
        </div>
        </div>

  	  	<button class="btn waves-effect waves-light modal-close" type="submit" name="submit" id="submitEdit">Submit <i class="material-icons right">send</i> </button>
  	  	<button class="btn waves-effect waves-light modal-close" style="color:gray">Cancel</button>
      </form>
  </template>

<template name="bookListing">

<span style="font-size: x-large"> <strong >{{name}}</strong>
{{#if checkEq type "bar"}}
  <i class="material-icons">local_bar</i>
{{else if checkEq type "club"}}
  <i class="material-icons">stars</i>
{{/if}} 
- <em>${{price}}
</em></span>
<br>
<p>{{description}}</p>

  <a href="/booking"><button class="btn waves-effect waves-light modal-close" type="submit" name="book">Make Booking <i class="material-icons right">send</i></button></a>

</template>