<template name="resultsDisplay">
  <!--To display event listing reuslts to users for booking-->

	{{#if listingsFiltered}}
	  <ul class="collection container">
	    {{#each listingsFiltered}}
	        {{ > singleResult}}
	    {{/each}}
	  </ul>
  {{else}}
	  <div class="container">
	    <h2> No results found. </h2>
	  </div>
  {{/if}}

  <div id="bookingModal" class="modal">
    <div class="modal-content">
      <h5>Viewing Listing</h5>
      {{ > bookListing currentListing}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
    </div>
  </div>

  <script>
    $(document).ready(function(){
        $('.modal').modal();
        $('select').formSelect();
          $('.datepicker').datepicker();
          $('.timepicker').timepicker();
      });
  </script>
</template>

<template name="singleResult">

	<div class="row">
		<li class="collection-item custom-dark-purple-l1"> <strong> {{name}} </strong>
	    {{#if checkEq type "bar"}}
				<!--<strong> Bar </strong>-->
		    <i class="tiny material-icons">local_bar</i>
	    {{else if checkEq type "club"}}
				<!--<strong> Club </strong>-->
		    <i class="tiny material-icons">stars</i>
	    {{/if}}
	    table for {{pax}} - <em>${{price}}</em> - {{formatDate date}}

	    <a href="#bookingModal" class="btn expand secondary-content modal-trigger"> Book </a>
			<br>
			<span style="white-space: pre-line">{{description}}</span>
		</li>
	</div>
</template>

<template name="bookListing">
  <span style="font-size: x-large"> <strong >{{name}}</strong>
	  {{#if checkEq type "bar"}}
	    <i class="material-icons">local_bar</i>
	  {{else if checkEq type "club"}}
	    <i class="material-icons">stars</i>
	  {{/if}}

	  for {{pax}}
	  - <em>${{price}}
	  </em>
	  <br>

	  {{formatDate date}}
  </span>
  <p style="font-size: large">{{description}}</p>

  <a href="/booking">
		<button class="btn waves-effect waves-light modal-close" type="submit" name="book">
			Make Booking <i class="material-icons right"> send </i>
		</button>
	</a>
</template>
